package components

templ Home() {
    <div>
        <h2>Welcome to ByteTheBug!</h2>
        <p>
            ByteTheBug is a platform for developers, security afficionados,
            and anyone interested in learning about web app security.
            Start by solving a couple buzzles, then check out the community
            submissions to solve some real world bugs.
        </p>
    </div>
}
