package templates

import "e-commerce/models"

templ TodoComponent(data []models.Todo) {
    <h2>Todo List</h2>
    <form hx-post="/create" hx-target="#list">
        <input type="text" name="todo" id="todo" placeholder="Add a todo" required />
        <button type="submit">Add</button>
    </form>
    <div id="list">
        @ItemList(data)
    </div>
    <form action="/clear" method="post">
        <button type="submit" name="clear">Clear</button>
    </form>
}